.titleBar {
    position:fixed;
    top: 0;
    left: 0;
    text-align: center;
    color: #ffffff;
    background-color: #404040;
    width: 100%;
}

.mainBody{
    margin-top: 115px;
    overflow:hidden;
}

h4{
    text-align: center;
}
.bankField{
    background-color: #decfa9;
    position: relative;
    float: left;
    left: 2.5%;
    width: 22%;
    padding: 1.5%;
    border-radius: 10px;
    
}
.workField{
    background-color: #decfa9;
    position: relative;
    float: left;
    left: 12.5%;
    width: 22%;
    padding: 1.5%;
    border-radius: 10px;
}
.laptopField{
    background-color: #decfa9;
    position: relative;
    float: right;
    right: 2.5%;
    width: 22%;
    padding: 1.5%;
    border-radius: 10px;
}
.laptopInfoField{
    float:left;
    position: relative;
    top: 15px;
    text-align: center;
    background-color: #decfa9;
    left : 2.5%;
    width: 89%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 10px;
}

.loanbutton{
    margin-top: 10px;
    margin-bottom: 0px;
    width: 100%;
    height: 35px;
    border-radius: 10px;
}
.bankWorkButtons{
    float:left;
    margin-top: 40px;
    margin-bottom: 0px;
    height: 35px;
    border-radius: 10px;
    width:47.5%;
}
#bankButton{
    margin-right:2.5%;
}
#workButton{
    margin-left:2.5%;
}
#laptopImage{
    margin: 20px;
    margin-left: 5px;
    margin-right: 35px;
    max-width: 200px;
    max-height: 150px;
}
#laptopPrice{
    margin: 30px;
}
#buyButton{
    height: 35px;
    border-radius: 10px;
    padding-left: 20%; 
    padding-right: 20%;
}